.speech{
    font-family: 'Times New Roman Bold',Times, serif;
    font-size: medium;
    color:violet;
}
.speech:hover{
    color:crimson;
}
.stage-direction{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    color:blueviolet;
}
.stage-direction:hover{
    color:brown;
}
.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color:tomato;
}
.name:hover{
    color:blue;
}
.Baron{
    color:brown;
}
.GEN{
    color:green;
}
.PRINCE{
    color:burlywood;
}
.COUNT{
    color:red;
}
.MARQ{
    color:cornflowerblue;
}
table{
    border:brown;
    text-align: left;
    color:cyan;
    border:1px solid blue
}
th{
    border:brown;
    text-align: left;
    color:goldenrod;
    border:1px solid red
}
td{
    border:brown;
    text-align: left;
    color:blueviolet;
    border:1px solid black
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li {
    float:left;
    background:goldenrod;
}
ul.navbar-horizontal a {
    display:block;
    padding:20px;
    color:red;
}
ul.navbar-horizontal a:hover {
    background-color: blueviolet;
    color:yellowgreen;
}